---
layout: default
title:  Publications
permalink: /Publications/
---
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url('../assets/publications.jpg');"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header"><h1 class="title">Publications</h1></header>
  </div>
</div>
<div class="wrapper">
  <h2 align="left">연구 결과 </h2>
  <p class="lead" align="left">
    <ul align="left" style="line-height: 2;">
      <li>International Conference on Internet (ICONI) 2011 - A study on the detecting the fraud actions in MMORPGs Detecting the bank character in MMORPGs by analysis of a clustered network</li>            
      <li>R 유저 컨퍼런스 2012 - R을 이용한 게임 데이터 분석</li>
      <li>NETSEC-KR 2013 - 서버사이드 데이터분석을 통한 게임 봇/작업장 대응 기법 </li>
      <li>NetGames 2013 - I know what the BOTs did yesterday: full action sequence analysis using Naive Bayesian algorithm </li>
      <li>Nexon Developers Conference (NDC) 2014  -Data Analysis for Game Fraud Detection</li>
      <li>NDC 2016 - 데이터마이닝을 활용한 진성 유저 지표 만들기</li>
      <li>Network and Distributed System Security (NDSS) 2016 - You are a Game Bot: Uncovering Game Bots in MMORPGs via Self-similarity in the Wild</li>
      <li>정보보호학회지 2016 - 온라인 게임 보안을 위한 머신러닝 시스템 연동 방안 </li>
      <li>정보보호학회지 2017 - 캐릭터 이름을 이용한 MMORPG 봇 탐지 기법 </li>
      <li>IEEE Transactions on Information Forensics and Security (TIFS) 2017 - Crime Scene Reconstruction: Online Gold Farming Network Analysis </li>

      <li>World Wide Web (WWW) Conference 2018 - No Silk Road for Online Gamers!: Using Social Network Analysis to Unveil Black Markets in Online Games </li>
      <li>IEEE Transactions on Games -Game Data Mining Competition on Churn Prediction and Survival Analysis using Commercial Game Log Data </li>
    </ul>
</div>
