---
layout: default
title:  Publications
permalink: /Publications/
---
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url('../assets/publications.jpg');"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header"><h1 class="title">Publications</h1></header>
  </div>
</div>
<div class="wrapper">
  <h2 align="left">외부 발표 사례 및 논문 목록</h2>
  <p class="lead" align="left">
    <ul align="left" style="line-height: 2;">
      <li><a href="/assets/publications/ICONI2011_bank_character.pdf">Detecting the bank character in MMORPGs by analysis of a clustered network</a> - International Conference on Internet (ICONI) 2011</li>            
      <li><a href="/assets/publications/KRUG2012_game_analysis.pdf">R을 이용한 게임 데이터 분석</a> - R 유저 컨퍼런스 2012</li>
      <li><a href="/assets/publications/NETSEC-KR_2013.pdf">서버사이드 데이터분석을 통한 게임 봇/작업장 대응 기법</a> - NETSEC-KR 2013 </li>
      <li><a href="/assets/publications/NetGames2013_i_know.pdf">I know what the BOTs did yesterday: full action sequence analysis using Naive Bayesian algorithm</a> - NetGames 2013 </li>
      <li><a href="/assets/publications/NDC2014_gfis.pdf">Data Analysis for Game Fraud Detection</a> - Nexon Developers Conference (NDC) 2014</li>
      <li><a href="/assets/publications/NDC2016_organic_user.pdf">데이터마이닝을 활용한 진성 유저 지표 만들기</a> - Nexon Developers Conference (NDC) 2016</li>
      <li><a href="/assets/publications/NDSS2016_gamebot.pdf">You are a Game Bot: Uncovering Game Bots in MMORPGs via Self-similarity in the Wild</a> - Network and Distributed System Security (NDSS) 2016</li>
      <li><a href="/assets/publications/KIISC_2016_onlinegame_security.pdf">온라인 게임 보안을 위한 머신러닝 시스템 연동 방안</a> - 정보보호학회지 2016</li>
      <li><a href="/assets/publications/KIISC_2017_game_bot_name.pdf">캐릭터 이름을 이용한 MMORPG 봇 탐지 기법</a> - 정보보호학회지 2017</li>
      <li><a href="/assets/publications/TIFS2017_crime_scene_reconstruction.pdf">Crime Scene Reconstruction: Online Gold Farming Network Analysis</a> - IEEE Transactions on Information Forensics and Security (TIFS) 2017</li>
      <li><a href="/assets/publications/WWW2018_silkroad.pdf">No Silk Road for Online Gamers!: Using Social Network Analysis to Unveil Black Markets in Online Games</a> - World Wide Web (WWW) Conference 2018</li>
      <li><a href="/assets/publications/NDC2018_anomaly_detection.pdf">회귀 모델 기반의 게임 재화 이상 증감 탐지 툴 개발</a> - Nexon Developers Conference (NDC) 2018</li>
      <li><a href="/assets/publications/NDC2018_churn_modeling.pdf">실전 이탈 예측과 유의사항</a> - Nexon Developers Conference (NDC) 2018</li>      
    </ul>
</div>
